<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
  <title>Graficos de Adopción</title>
  <link rel="stylesheet" href="../css/estadisticas.css">
</head>
<body>

  <h1>Graficos de Adopcion de Mascotas</h1>

 
  <div class="grafico">
    <h2>Avisos de adopcion por dia</h2>
    <img src="../imagenes/Lineas.png" alt="lineas">
  </div>

  
  <div class="grafico">
    <h2>Total de avisos por tipo de mascota</h2>
    <img src="../imagenes/Circular.png" alt="torta">
  </div>

  
  <div class="grafico">
    <h2>Avisos por mes y tipo de mascota</h2>
    <img src="../imagenes/Barras.png" alt="barras">
  </div>

  
  <a href="index.html" class="volver"> Volver a la portada</a>

</body>
</html>
